<h1>Dashboard#index</h1>

<p><%= link_to "Clientes", clients_path %></p>
<p><%= link_to "Eventos", events_path %></p>
<p>Cliente Eventos </p>


<%= link_to "Sair", destroy_user_session_path, :method => :delete %>

<% if current_user %>
  <p> <%= current_user.email%> </p>

<% else %>
  <li><a href="/users/sign_in">Entrar</a></li>
<% end %>
