<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @incident.description %>
</p>

<p>
  <strong>Client event:</strong>
  <%= @incident.client_event %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |

